###############################################################
# WFG1_02.config                                              #
#                                                             #
# Configuration file of the R2-MOACOR algorithm               #
###############################################################

# Objective function.
Function = WFG1

# Number of decision variables.
n = 24

# Number of objective functions.
k = 2

# K_wfg
k_wfg = 2

# Range of decision variables.
Rmin:* = 0
Rmax:* = 1

# Maximum number of generations.
Gmax = 1000

# Percentage of iterations accomplished in order to activade maximin mechanism.
itThreshold = 0.90

# Record size.
MAX_RECORD_SIZE = 5

# Variance threshold
varThreshold = 0.5

# Tolerance threshold
tolThreshold = 0.001

# Number of Ants
M = 100

# Convergence rate
Xi = 0.5

# Diversification rate
q = 0.1

# H parameter for weight vectors  ( H + k - 1)Choose(k - 1)
H = 119

# Neighborhood size
T = 10